html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body{
    height:100%; /* force the BODY element to match the height of the HTML element */
    background-color:#eac086;
}

#main{
 margin-left: 10%;
 margin-right: 10%;   
 background-color:#FFFFFF;
 position:absolute;
 top:5%;
 bottom:5%;
 left:0;
 right:0;
 overflow:hidden;
 border: 2px solid red;
 border-radius: 25px;
}
